body {
    color: white;
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heading {
    width: 80%;
    font-size: 20px;
}
.name_of_object, #result_object_name, #result_object_accuracy {
    color: purple;
}
#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}